// Файл обнуляющих стилей
@import "nullstyle";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap");
:root {
  --bg-color: #1f1f1f;
  --text-color: #fff;
  --red-color: #e65f78;
}
html {
  scroll-behavior: smooth;
}
body {
  color: var(--text-color);
  background-color: #333333;
}
.home {
  height: 100vh;
  background-color: var(--bg-color);
}
.navigation {
  display: none;
  @media (max-width: 529px) {
    display: block;
  }
}

#menuToggle {
  display: block;
  position: relative;
  top: 0px;
  // left: 350px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #cccccc;

  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
  transition: 0.5s;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #888888;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 300px;
  height: 110vh;
  margin: -100px 0 0 -200px;
  padding: 50px;
  padding-top: 125px;
  background: #313131;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-family: "Open Sans";
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
}
.navbar {
  height: 80px;
  min-width: 100%;
  margin: 0 auto;
  background-color: var(--bg-color);
  padding: 15px 35px;
  position: fixed;
  z-index: 1;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    max-width: 50px;
    max-height: 50px;
  }
  &__menu {
    min-width: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media (max-width: 767px) {
      min-width: 400px;
    }
    @media (max-width: 529px) {
      display: none;
    }
  }
  &__item {
    color: var(--text-color);
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
    @media (max-width: 767px) {
      font-size: 12px;
    }
  }
}
.resume {
  background-color: var(--red-color);
  border-radius: 3px;
  padding: 8px 14px;
  line-height: 27px;
  @media (max-width: 767px) {
    line-height: 20px;
  }
}
.content {
  padding: 20vh 0 0 0;
  min-height: 100%;
  &__row {
    padding: 10% 0 15% 0;
    max-width: 100%;
    width: 636px;
    height: 150px;
    margin: 0 auto;
    display: flex;
    // align-items: start;

    @media (max-width: 767px) {
      display: block;
    }
  }

  &__image {
    @media (max-width: 767px) {
      text-align: center;
    }
    img {
      border-radius: 50%;
      margin: 0 25px 0 0;
      max-width: 150px;
      max-height: 150px;
      @media (max-width: 767px) {
        margin: 0 auto;
      }
    }
  }
  &__text {
    min-width: 100%;
    @media (max-width: 767px) {
      text-align: center;
    }
  }
  &__title {
    font-family: "Open Sans";
    font-weight: 800;
    font-size: 72px;
    line-height: 79.2px;
    margin: 0 0 10px 0;
  }

  &__subtitle {
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 24px;
    // line-height: 32.68px;
  }
  &__next-page {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 25px;
    margin: 0 0 0 -10px;
    left: 50%;
    animation-name: updown;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    &:hover {
      animation-play-state: paused;
    }
  }
  &__next-page img {
    width: 20px;
    height: 20px;
  }
}
@keyframes updown {
  0% {
    bottom: 25px;
  }
  100% {
    bottom: 50px;
  }
}
.red_text {
  color: var(--red-color);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  @media (max-width: 1400px) {
    max-width: 1100px;
  }
  @media (max-width: 1200px) {
    max-width: 900px;
  }
  @media (max-width: 1000px) {
    max-width: 800px;
  }
  @media (max-width: 767px) {
    max-width: none;
  }
}

.about {
  // min-height: 100vh;
  height: 100vh;
  // width: 100%;
  margin: 0 auto;

  &__title {
    margin: 0 0 55px 0;
    @media (max-width: 1000px) {
      margin: 0 0 5px 0;
    }
  }
  &__main-information {
    display: flex;
    justify-content: space-between;
    align-items: start;
    // width: 100%;
    // margin: 0 auto;
    padding: 20px;
    @media (max-width: 867px) {
      // flex-direction: column;
      // align-items: center;
    }
  }
  &__image {
    width: 250px;
    height: 250px;
    box-shadow: 10px 10px 1px var(--red-color);
    margin: 0 30px 0 0;
    @media (max-width: 867px) {
      width: 100px;
      height: 100px;
    }
    @media (max-width: 670px) {
      display: none;
    }
  }
  &__image img {
    // max-width: 100%;
    // max-height: 100%;
    width: 250px;
    height: 250px;
    @media (max-width: 867px) {
      width: 100px;
      height: 100px;
    }
  }
  &__content {
    font-family: "open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 27.2px;
    @media (max-width: 867px) {
      font-size: 14px;
    }
  }
  &__text {
    margin: 0 0 30px 0;
  }
  &__information {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -10px;
    @media (max-width: 867px) {
      line-height: 20px;
    }
  }
  &__info {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    flex: 1 1 250px;
  }
  &__name {
    font-weight: 600;
  }
  &__value {
    font-weight: 300;
  }

  &__row {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: #1f1f1f;
    padding: 15px;
    margin: 0 15px;
    align-items: start;
    @media (max-width: 504px) {
      padding: 0;
    }
  }

  // @media (max-width: 767px) {
  // }
  &__column {
    flex: 0 0 33.333%;
  }
}
.about-item {
  text-align: center;
  padding: 10px;
  &__title {
    font-family: "Open Sans";
    font-size: 64px;
    font-weight: 800;
    line-height: 87px;
    @media (max-width: 1400px) {
      line-height: 80px;
      font-size: 60px;
    }
    @media (max-width: 1200px) {
      line-height: 73px;
      font-size: 55px;
    }
    @media (max-width: 1000px) {
      line-height: 65px;
      font-size: 50px;
    }
    @media (max-width: 767px) {
      line-height: 50px;
      font-size: 40px;
    }
    @media (max-width: 375px) {
      line-height: 40px;
      font-size: 30px;
    }
  }
  &__description {
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    @media (max-width: 1400px) {
      font-size: 20px;
    }
    @media (max-width: 1200px) {
      font-size: 18px;
    }
    @media (max-width: 1000px) {
      font-size: 16px;
    }
    @media (max-width: 767px) {
      font-size: 14px;
    }
  }
}
.title {
  padding: 80px 0 0 0;
  font-family: "Open Sans";
  font-size: 48px;
  font-weight: 800;
  line-height: 65.37px;
  text-transform: capitalize;
  text-align: center;
  &::after {
    content: "";
    display: block;
    width: 60px;
    height: 4px;
    background-color: var(--red-color);
    margin: 0 auto;
    border-radius: 5px;
  }
  @media (max-width: 1400px) {
    font-size: 45px;
    &::after {
      width: 60px;
      height: 4px;
      margin: -5px auto;
    }
  }
  @media (max-width: 1200px) {
    font-size: 40px;
    &::after {
      width: 45px;
      height: 3px;
      margin: -10px auto;
    }
  }
  @media (max-width: 1000px) {
    font-size: 35px;
    &::after {
      width: 35px;
      height: 3px;
      margin: -13px auto;
    }
  }
  @media (max-width: 767px) {
    font-size: 25px;
    &::after {
      width: 30px;
      height: 2px;
      margin: -15px auto;
    }
  }
}
.experience {
  height: 100vh;
  width: 100%;
  &__title {
    margin: 0 0 55px 0;
    @media (max-width: 1200px) {
      margin: 0 0 45px 0;
    }
    @media (max-width: 1000px) {
      margin: 0 0 35px 0;
    }
    @media (max-width: 767px) {
      margin: 0 0 25px 0;
    }
  }
  &__row {
    // width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    @media (max-width: 479px) {
      display: block;
    }
  }
}
.experience-item {
  font-family: "Open Sans";
  background-color: var(--bg-color);
  flex: 1 0 200px;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  justify-content: space-between;
  @media (max-width: 879px) {
    margin: 15px;
    padding: 15px;
  }
  @media (max-width: 767px) {
    margin: 10px;
  }
  // @media (max-width: 479px) {
  //   margin: 10px;
  // }

  &__title {
    font-size: 24px;
    line-height: 33px;
    font-weight: 600;
    @media (max-width: 1400px) {
      font-size: 21px;
    }
    @media (max-width: 1200px) {
      font-size: 20px;
    }
    @media (max-width: 1000px) {
      font-size: 19px;
    }
    @media (max-width: 767px) {
      font-size: 18px;
      line-height: 20px;
    }
  }

  &__subtitle {
    font-size: 19px;
    line-height: 30px;
    font-weight: 400;
    margin: 0 0 10px 0;
    @media (max-width: 1400px) {
      font-size: 18px;
    }
    @media (max-width: 1200px) {
      font-size: 17px;
    }
    @media (max-width: 1000px) {
      font-size: 16px;
    }
    @media (max-width: 767px) {
      font-size: 15px;
      line-height: 20px;
      margin: 0 0 3px 0;
    }
  }
  &__description {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    @media (max-width: 1400px) {
      font-size: 17px;
    }
    @media (max-width: 1200px) {
      font-size: 16px;
    }
    @media (max-width: 1000px) {
      font-size: 15px;
    }
    @media (max-width: 767px) {
      font-size: 14px;
      line-height: 20px;
    }
    @media (max-width: 479px) {
      display: none;
    }
  }
}
.skill {
  height: 100vh;
  width: 100%;
  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    @media (max-width: 479px) {
      display: block;
    }
  }
  &__title {
    margin: 0 0 55px 0;
    @media (max-width: 1200px) {
      margin: 0 0 45px 0;
    }
    @media (max-width: 1000px) {
      margin: 0 0 35px 0;
    }
    @media (max-width: 767px) {
      margin: 0 0 25px 0;
    }
  }
}
.skill-item {
  font-family: "Open Sans";
  background-color: var(--bg-color);
  flex: 1 1 40%;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  justify-content: space-between;
  @media (max-width: 879px) {
    margin: 15px;
    padding: 15px;
  }
  @media (max-width: 767px) {
    margin: 10px;
    // padding: 10px;
  }

  &__image {
    width: 75px;
    height: 75px;
    @media (max-width: 479px) {
      display: none;
    }
  }
  &__image img {
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
  }
  &__title {
    font-size: 24px;
    line-height: 33px;
    font-weight: 600;
    @media (max-width: 1400px) {
      font-size: 21px;
    }
    @media (max-width: 1200px) {
      font-size: 20px;
    }
    @media (max-width: 1000px) {
      font-size: 19px;
    }
    @media (max-width: 767px) {
      font-size: 18px;
      line-height: 20px;
    }
  }
  &__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    @media (max-width: 1400px) {
      font-size: 17px;
    }
    @media (max-width: 1200px) {
      font-size: 16px;
    }
    @media (max-width: 1000px) {
      font-size: 15px;
    }
    @media (max-width: 767px) {
      font-size: 14px;
      line-height: 20px;
    }
  }
}
.portfolio {
  height: 100vh;
  width: 100%;
  &__title {
    margin: 0 0 55px 0;
    @media (max-width: 1200px) {
      margin: 0 0 45px 0;
    }
    @media (max-width: 1000px) {
      margin: 0 0 35px 0;
    }
    @media (max-width: 767px) {
      margin: 0 0 25px 0;
    }
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    @media (max-width: 479px) {
      display: block;
    }
  }
}
.portfolio-item {
  font-family: "Open Sans";
  background-color: var(--bg-color);
  flex: 1 1 40%;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  justify-content: space-between;
  @media (max-width: 879px) {
    padding: 15px;
    margin: 15px;
  }
  @media (max-width: 767px) {
    margin: 10px;
  }
  &__title {
    font-size: 24px;
    line-height: 33px;
    font-weight: 600;
    @media (max-width: 1400px) {
      font-size: 21px;
    }
    @media (max-width: 1200px) {
      font-size: 20px;
    }
    @media (max-width: 1000px) {
      font-size: 19px;
    }
    @media (max-width: 767px) {
      font-size: 18px;
      line-height: 20px;
    }
  }

  &__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    @media (max-width: 1400px) {
      font-size: 17px;
    }
    @media (max-width: 1200px) {
      font-size: 16px;
    }
    @media (max-width: 1000px) {
      font-size: 15px;
    }
    @media (max-width: 767px) {
      font-size: 14px;
      line-height: 20px;
    }
  }
  &__stek {
    display: flex;
  }
  &__stek-item {
    text-transform: uppercase;
    font-size: 15px;
    padding: 7px;
    border-radius: 10px;
    border: 1px solid #ffffff;
    margin: 5px 5px 0 0;
    @media (max-width: 1400px) {
      font-size: 14px;
    }
    @media (max-width: 1200px) {
      font-size: 13px;
    }
    @media (max-width: 1000px) {
      font-size: 12px;
    }
    @media (max-width: 479px) {
      display: none;
    }
  }
}
.contact {
  height: 100vh;
  width: 100%;
  position: relative;
  &__title {
    margin: 0 0 150px 0;
    @media (max-width: 1200px) {
      margin: 0 0 85px 0;
    }
    @media (max-width: 1000px) {
      margin: 0 0 55px 0;
    }
    @media (max-width: 767px) {
      margin: 0 0 35px 0;
    }
  }

  &__text {
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    @media (max-width: 1400px) {
      font-size: 17px;
    }
    @media (max-width: 1200px) {
      font-size: 16px;
    }
    @media (max-width: 1000px) {
      font-size: 15px;
    }
    @media (max-width: 767px) {
      font-size: 14px;
      line-height: 20px;
    }
    @media (max-width: 600px) {
      max-width: 400px;
    }
    @media (max-width: 466px) {
      max-width: 350px;
    }
    @media (max-width: 400px) {
      max-width: 300px;
    }
  }
  &__button {
    max-width: 160px;
    margin: 20px auto 0 auto;
    text-align: center;
    background-color: var(--red-color);
    border-radius: 5px;
    padding: 8px 14px;
    a {
      font-family: "Open Sans";
      line-height: 27.2px;
      font-size: 16px;
      font-weight: 400;
      padding: 10px;
      color: var(--text-color);
      @media (max-width: 767px) {
        font-size: 14px;
      }
      @media (max-width: 600px) {
        max-width: 400px;
      }
      @media (max-width: 466px) {
        max-width: 350px;
      }
      @media (max-width: 400px) {
        max-width: 300px;
      }
    }
  }
  &__links {
    display: flex;
    max-width: 100px;
    margin: 0 0 0 -50px;
    position: absolute;
    bottom: 25px;
    left: 50%;
  }
  &__link {
    max-width: 40px;
    max-height: 40px;
    transform: scale(1);
    &:hover {
      transition: all 0.5s;
      transform: scale(1.1);
    }
    @media (max-width: 767px) {
      max-width: 35px;
      max-height: 35px;
    }
    @media (max-width: 600px) {
      max-width: 30px;
      max-height: 30px;
    }
    @media (max-width: 466px) {
      max-width: 30px;
      max-height: 30px;
    }
    //   @media (max-width: 400px) {
    //     max-width: 300px;
    //   }
  }

  &__link a img {
    max-width: 100%;
    max-height: 100%;
  }
}
.footer {
  height: 50px;
  background-color: var(--bg-color);
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
  &__text {
    padding: 10px;
    max-width: 170px;
    margin: 0 auto;
  }
}
