@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

:root {
  --bg-color: #1f1f1f;
  --text-color: #fff;
  --red-color: #e65f78;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--text-color);
  background-color: #333333;
}

.home {
  height: 100vh;
  background-color: var(--bg-color);
}

.navbar {
  height: 80px;
  min-width: 100%;
  margin: 0 auto;
  background-color: var(--bg-color);
  padding: 15px 35px;
  position: fixed;
  z-index: 1;
}
.navbar__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__logo {
  max-width: 50px;
  max-height: 50px;
}
.navbar__menu {
  min-width: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 767px) {
  .navbar__menu {
    min-width: 400px;
  }
}
.navbar__item {
  color: var(--text-color);
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
}
@media (max-width: 767px) {
  .navbar__item {
    font-size: 12px;
  }
}

.resume {
  background-color: var(--red-color);
  border-radius: 3px;
  padding: 8px 14px;
  line-height: 27px;
}
@media (max-width: 767px) {
  .resume {
    line-height: 20px;
  }
}

.content {
  padding: 20vh 0 0 0;
  min-height: 100%;
}
.content__row {
  padding: 10% 0 15% 0;
  max-width: 100%;
  width: 636px;
  height: 150px;
  margin: 0 auto;
  display: flex;
}
@media (max-width: 767px) {
  .content__row {
    display: block;
  }
}
@media (max-width: 767px) {
  .content__image {
    text-align: center;
  }
}
.content__image img {
  border-radius: 50%;
  margin: 0 25px 0 0;
  max-width: 150px;
  max-height: 150px;
}
@media (max-width: 767px) {
  .content__image img {
    margin: 0 auto;
  }
}
.content__text {
  min-width: 100%;
}
@media (max-width: 767px) {
  .content__text {
    text-align: center;
  }
}
.content__title {
  font-family: "Open Sans";
  font-weight: 800;
  font-size: 72px;
  line-height: 79.2px;
  margin: 0 0 10px 0;
}
.content__subtitle {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 24px;
}
.content__next-page {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 25px;
  margin: 0 0 0 -10px;
  left: 50%;
  animation-name: updown;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}
.content__next-page:hover {
  animation-play-state: paused;
}
.content__next-page img {
  width: 20px;
  height: 20px;
}

@keyframes updown {
  0% {
    bottom: 25px;
  }
  100% {
    bottom: 50px;
  }
}
.red_text {
  color: var(--red-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1400px) {
  .container {
    max-width: 1100px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 900px;
  }
}
@media (max-width: 1000px) {
  .container {
    max-width: 800px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}

.about {
  height: 100vh;
  margin: 0 auto;
}
.about__title {
  margin: 0 0 55px 0;
}
@media (max-width: 1000px) {
  .about__title {
    margin: 0 0 5px 0;
  }
}
.about__main-information {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 20px;
}
.about__image {
  width: 250px;
  height: 250px;
  box-shadow: 10px 10px 1px var(--red-color);
  margin: 0 30px 0 0;
}
@media (max-width: 867px) {
  .about__image {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 670px) {
  .about__image {
    display: none;
  }
}
.about__image img {
  width: 250px;
  height: 250px;
}
@media (max-width: 867px) {
  .about__image img {
    width: 100px;
    height: 100px;
  }
}
.about__content {
  font-family: "open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
}
@media (max-width: 867px) {
  .about__content {
    font-size: 14px;
  }
}
.about__text {
  margin: 0 0 30px 0;
}
.about__information {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -10px;
}
@media (max-width: 867px) {
  .about__information {
    line-height: 20px;
  }
}
.about__info {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  flex: 1 1 250px;
}
.about__name {
  font-weight: 600;
}
.about__value {
  font-weight: 300;
}
.about__row {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: #1f1f1f;
  padding: 15px;
  margin: 0 15px;
  align-items: start;
}
@media (max-width: 504px) {
  .about__row {
    padding: 0;
  }
}
.about__column {
  flex: 0 0 33.333%;
}

.about-item {
  text-align: center;
  padding: 10px;
}
.about-item__title {
  font-family: "Open Sans";
  font-size: 64px;
  font-weight: 800;
  line-height: 87px;
}
@media (max-width: 1400px) {
  .about-item__title {
    line-height: 80px;
    font-size: 60px;
  }
}
@media (max-width: 1200px) {
  .about-item__title {
    line-height: 73px;
    font-size: 55px;
  }
}
@media (max-width: 1000px) {
  .about-item__title {
    line-height: 65px;
    font-size: 50px;
  }
}
@media (max-width: 767px) {
  .about-item__title {
    line-height: 50px;
    font-size: 40px;
  }
}
@media (max-width: 375px) {
  .about-item__title {
    line-height: 40px;
    font-size: 30px;
  }
}
.about-item__description {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
}
@media (max-width: 1400px) {
  .about-item__description {
    font-size: 20px;
  }
}
@media (max-width: 1200px) {
  .about-item__description {
    font-size: 18px;
  }
}
@media (max-width: 1000px) {
  .about-item__description {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .about-item__description {
    font-size: 14px;
  }
}

.title {
  padding: 80px 0 0 0;
  font-family: "Open Sans";
  font-size: 48px;
  font-weight: 800;
  line-height: 65.37px;
  text-transform: capitalize;
  text-align: center;
}
.title::after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background-color: var(--red-color);
  margin: 0 auto;
  border-radius: 5px;
}
@media (max-width: 1400px) {
  .title {
    font-size: 45px;
  }
  .title::after {
    width: 60px;
    height: 4px;
    margin: -5px auto;
  }
}
@media (max-width: 1200px) {
  .title {
    font-size: 40px;
  }
  .title::after {
    width: 45px;
    height: 3px;
    margin: -10px auto;
  }
}
@media (max-width: 1000px) {
  .title {
    font-size: 35px;
  }
  .title::after {
    width: 35px;
    height: 3px;
    margin: -13px auto;
  }
}
@media (max-width: 767px) {
  .title {
    font-size: 25px;
  }
  .title::after {
    width: 30px;
    height: 2px;
    margin: -15px auto;
  }
}

.experience {
  height: 100vh;
  width: 100%;
}
.experience__title {
  margin: 0 0 55px 0;
}
@media (max-width: 1200px) {
  .experience__title {
    margin: 0 0 45px 0;
  }
}
@media (max-width: 1000px) {
  .experience__title {
    margin: 0 0 35px 0;
  }
}
@media (max-width: 767px) {
  .experience__title {
    margin: 0 0 25px 0;
  }
}
.experience__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
@media (max-width: 479px) {
  .experience__row {
    display: block;
  }
}

.experience-item {
  font-family: "Open Sans";
  background-color: var(--bg-color);
  flex: 1 0 200px;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  justify-content: space-between;
}
@media (max-width: 879px) {
  .experience-item {
    margin: 15px;
  }
}
@media (max-width: 767px) {
  .experience-item {
    margin: 10px;
  }
}
.experience-item__title {
  font-size: 24px;
  line-height: 33px;
  font-weight: 600;
}
@media (max-width: 1400px) {
  .experience-item__title {
    font-size: 21px;
  }
}
@media (max-width: 1200px) {
  .experience-item__title {
    font-size: 20px;
  }
}
@media (max-width: 1000px) {
  .experience-item__title {
    font-size: 19px;
  }
}
@media (max-width: 767px) {
  .experience-item__title {
    font-size: 18px;
    line-height: 20px;
  }
}
.experience-item__subtitle {
  font-size: 19px;
  line-height: 30px;
  font-weight: 400;
  margin: 0 0 10px 0;
}
@media (max-width: 1400px) {
  .experience-item__subtitle {
    font-size: 18px;
  }
}
@media (max-width: 1200px) {
  .experience-item__subtitle {
    font-size: 17px;
  }
}
@media (max-width: 1000px) {
  .experience-item__subtitle {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .experience-item__subtitle {
    font-size: 15px;
    line-height: 20px;
    margin: 0 0 3px 0;
  }
}
.experience-item__description {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
@media (max-width: 1400px) {
  .experience-item__description {
    font-size: 17px;
  }
}
@media (max-width: 1200px) {
  .experience-item__description {
    font-size: 16px;
  }
}
@media (max-width: 1000px) {
  .experience-item__description {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .experience-item__description {
    font-size: 14px;
    line-height: 20px;
  }
}
@media (max-width: 479px) {
  .experience-item__description {
    display: none;
  }
}

.skill {
  height: 100vh;
  width: 100%;
}
.skill__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
@media (max-width: 479px) {
  .skill__row {
    display: block;
  }
}
.skill__title {
  margin: 0 0 55px 0;
}
@media (max-width: 1200px) {
  .skill__title {
    margin: 0 0 45px 0;
  }
}
@media (max-width: 1000px) {
  .skill__title {
    margin: 0 0 35px 0;
  }
}
@media (max-width: 767px) {
  .skill__title {
    margin: 0 0 25px 0;
  }
}

.skill-item {
  font-family: "Open Sans";
  background-color: var(--bg-color);
  flex: 1 1 40%;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  justify-content: space-between;
}
@media (max-width: 879px) {
  .skill-item {
    margin: 15px;
  }
}
@media (max-width: 767px) {
  .skill-item {
    margin: 10px;
  }
}
.skill-item__image {
  width: 75px;
  height: 75px;
}
@media (max-width: 479px) {
  .skill-item__image {
    display: none;
  }
}
.skill-item__image img {
  border-radius: 10px;
  max-width: 100%;
  max-height: 100%;
}
.skill-item__title {
  font-size: 24px;
  line-height: 33px;
  font-weight: 600;
}
@media (max-width: 1400px) {
  .skill-item__title {
    font-size: 21px;
  }
}
@media (max-width: 1200px) {
  .skill-item__title {
    font-size: 20px;
  }
}
@media (max-width: 1000px) {
  .skill-item__title {
    font-size: 19px;
  }
}
@media (max-width: 767px) {
  .skill-item__title {
    font-size: 18px;
    line-height: 20px;
  }
}
.skill-item__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}
@media (max-width: 1400px) {
  .skill-item__description {
    font-size: 17px;
  }
}
@media (max-width: 1200px) {
  .skill-item__description {
    font-size: 16px;
  }
}
@media (max-width: 1000px) {
  .skill-item__description {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .skill-item__description {
    font-size: 14px;
    line-height: 20px;
  }
}

.portfolio {
  height: 100vh;
  width: 100%;
}
.portfolio__title {
  margin: 0 0 55px 0;
}
@media (max-width: 1200px) {
  .portfolio__title {
    margin: 0 0 45px 0;
  }
}
@media (max-width: 1000px) {
  .portfolio__title {
    margin: 0 0 35px 0;
  }
}
@media (max-width: 767px) {
  .portfolio__title {
    margin: 0 0 25px 0;
  }
}
.portfolio__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
@media (max-width: 479px) {
  .portfolio__row {
    display: block;
  }
}

.portfolio-item {
  font-family: "Open Sans";
  background-color: var(--bg-color);
  flex: 1 1 40%;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  justify-content: space-between;
}
@media (max-width: 879px) {
  .portfolio-item {
    margin: 15px;
  }
}
@media (max-width: 767px) {
  .portfolio-item {
    margin: 10px;
  }
}
.portfolio-item__title {
  font-size: 24px;
  line-height: 33px;
  font-weight: 600;
}
@media (max-width: 1400px) {
  .portfolio-item__title {
    font-size: 21px;
  }
}
@media (max-width: 1200px) {
  .portfolio-item__title {
    font-size: 20px;
  }
}
@media (max-width: 1000px) {
  .portfolio-item__title {
    font-size: 19px;
  }
}
@media (max-width: 767px) {
  .portfolio-item__title {
    font-size: 18px;
    line-height: 20px;
  }
}
.portfolio-item__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}
@media (max-width: 1400px) {
  .portfolio-item__description {
    font-size: 17px;
  }
}
@media (max-width: 1200px) {
  .portfolio-item__description {
    font-size: 16px;
  }
}
@media (max-width: 1000px) {
  .portfolio-item__description {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .portfolio-item__description {
    font-size: 14px;
    line-height: 20px;
  }
}
.portfolio-item__stek {
  display: flex;
}
.portfolio-item__stek-item {
  text-transform: uppercase;
  font-size: 15px;
  padding: 7px;
  border-radius: 10px;
  border: 1px solid #ffffff;
  margin: 5px 5px 0 0;
}
@media (max-width: 1400px) {
  .portfolio-item__stek-item {
    font-size: 14px;
  }
}
@media (max-width: 1200px) {
  .portfolio-item__stek-item {
    font-size: 13px;
  }
}
@media (max-width: 1000px) {
  .portfolio-item__stek-item {
    font-size: 12px;
  }
}
@media (max-width: 479px) {
  .portfolio-item__stek-item {
    display: none;
  }
}

.contact {
  height: 100vh;
  width: 100%;
  position: relative;
}
.contact__title {
  margin: 0 0 150px 0;
}
@media (max-width: 1200px) {
  .contact__title {
    margin: 0 0 85px 0;
  }
}
@media (max-width: 1000px) {
  .contact__title {
    margin: 0 0 55px 0;
  }
}
@media (max-width: 767px) {
  .contact__title {
    margin: 0 0 35px 0;
  }
}
.contact__text {
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
}
@media (max-width: 1400px) {
  .contact__text {
    font-size: 17px;
  }
}
@media (max-width: 1200px) {
  .contact__text {
    font-size: 16px;
  }
}
@media (max-width: 1000px) {
  .contact__text {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .contact__text {
    font-size: 14px;
    line-height: 20px;
  }
}
@media (max-width: 600px) {
  .contact__text {
    max-width: 400px;
  }
}
@media (max-width: 466px) {
  .contact__text {
    max-width: 350px;
  }
}
@media (max-width: 400px) {
  .contact__text {
    max-width: 300px;
  }
}
.contact__button {
  max-width: 160px;
  margin: 20px auto 0 auto;
  text-align: center;
  background-color: var(--red-color);
  border-radius: 5px;
  padding: 8px 14px;
}
.contact__button a {
  font-family: "Open Sans";
  line-height: 27.2px;
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
  color: var(--text-color);
}
@media (max-width: 767px) {
  .contact__button a {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .contact__button a {
    max-width: 400px;
  }
}
@media (max-width: 466px) {
  .contact__button a {
    max-width: 350px;
  }
}
@media (max-width: 400px) {
  .contact__button a {
    max-width: 300px;
  }
}
.contact__links {
  display: flex;
  max-width: 100px;
  margin: 0 0 0 -50px;
  position: absolute;
  bottom: 55px;
  left: 50%;
}
.contact__link {
  max-width: 40px;
  max-height: 40px;
}
@media (max-width: 767px) {
  .contact__link {
    max-width: 35px;
    max-height: 35px;
  }
}
@media (max-width: 600px) {
  .contact__link {
    max-width: 30px;
    max-height: 30px;
  }
}
@media (max-width: 466px) {
  .contact__link {
    max-width: 30px;
    max-height: 30px;
  }
}
.contact__link a img {
  max-width: 100%;
  max-height: 100%;
}

.footer {
  height: 50px;
  background-color: var(--bg-color);
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
}
.footer__text {
  padding: 10px;
  max-width: 170px;
  margin: 0 auto;
}/*# sourceMappingURL=main.css.map */